.button {
  padding: 8px 15px;
  border: 1px solid #f97239;
  border-radius: 4px;
  color: #fff;
  background: transparent;
  color: #f97239;

  font-size: 11px;
  transition: all 0.2s linear;

  &:hover {
    cursor: pointer;
    border-color: #f97239;
    background: #f97239;
    color: #fff;
  }

  &:active {
    color: #f97239;
    background: transparent;
  }
}
